@font-face { font-family: CoreMellow; src: url('../fonts/core-mellow-35-light.otf'); } 

body {
    background: #FFF;
    font-size: 16px;
    font-family: CoreMellow, arial, sans-serif;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}
.wrap {
    display: table-cell;
    vertical-align: middle;
}
.container {
   width: 90%;
   margin: 0 auto;
}

#comingsoon {
  white-space: nowrap;
}

#contact {
  font-size: 100%;
}

.header h1 {
    white-space: nowrap;
    text-align: center;
    padding: 0;
    margin: 0;
    color: #000;
    font-family: CoreMellow;
    font-size: 300%;
    font-weight: 700;
    white-space: nowrap;
}
